# ðŸ“Š Descriptive Statistics (Day 19)

**Goal:**  
Understand basic descriptive statistics using Python.  
We will compute:  
- Mean  
- Median  
- Mode  
- Variance  
- Standard Deviation

#  1. Import Libraries

In [3]:
import pandas as pd
import numpy as np
!pip install scipy

from scipy import stats

Collecting scipy
  Using cached scipy-1.16.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.6,>=1.25.2 in c:\users\farhan diwan\anaconda3\envs\farhanenv\lib\site-packages (from scipy) (2.2.5)
Using cached scipy-1.16.1-cp313-cp313-win_amd64.whl (38.5 MB)
Installing collected packages: scipy
Successfully installed scipy-1.16.1

# 2. Create a Sample Dataset

In [4]:
scores = [85, 90, 78, 92, 88, 76, 95, 89, 84, 91]
df = pd.DataFrame(scores, columns=["Score"])
df

   Score
0     85
1     90
2     78
3     92
4     88
5     76
6     95
7     89
8     84
9     91

# 3. Mean (Average)

In [5]:
mean_val = np.mean(scores)
print("Mean Score:", mean_val)

Mean Score: 86.8

# 4. Median (Middle Value)

In [6]:
median_val = np.median(scores)
print("Median Score:", median_val)

Median Score: 88.5

# 5. Mode (Most Frequent Value)

In [7]:
mode_val = stats.mode(scores, keepdims=True)
print("Mode Score:", mode_val.mode[0], "Frequency:", mode_val.count[0])

Mode Score: 76 Frequency: 1

# 6. Variance (Spread of Data)

In [8]:
variance_val = np.var(scores, ddof=1)  # sample variance
print("Variance:", variance_val)

Variance: 37.06666666666667

# 7. Standard Deviation (How Spread Out the Data Is)

In [9]:
std_val = np.std(scores, ddof=1)  # sample standard deviation
print("Standard Deviation:", std_val)

Standard Deviation: 6.0882400303098

# 8. Summary with Pandas

In [10]:
df.describe()

          Score
count  10.00000
mean   86.80000
std     6.08824
min    76.00000
25%    84.25000
50%    88.50000
75%    90.75000
max    95.00000

# âœ… Summary (Day 19 â€“ Descriptive Stats):

- Mean â†’ average performance
- Median â†’ middle score
- Mode â†’ most common score
- Variance â†’ spread of data
- Standard Deviation â†’ how far values deviate from mean
- Used both NumPy/Scipy and Pandas for calculations