# ðŸ¤– Machine Learning â€“ Day 23
## Multiple Linear Regression with Scikit-learn

**Goal:**  
Extend linear regression to handle **multiple features**.  
We will cover:  
- What is Multiple Linear Regression?  
- Training with 2+ features  
- Predicting house prices with multiple factors

# 1. Import Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# 2. Create a Sample Dataset

In [2]:
data = {
    "Size_sqft": [650, 800, 1000, 1200, 1500, 1800, 2000, 2200, 2500],
    "Rooms":     [2,   2,   3,    3,    4,    4,    5,    5,    6],
    "Age":       [10,  8,   5,    7,    4,    3,    2,    1,    1],
    "Price":     [70000, 85000, 100000, 120000, 150000, 170000, 190000, 210000, 250000]
}
df = pd.DataFrame(data)
df

   Size_sqft  Rooms  Age   Price
0        650      2   10   70000
1        800      2    8   85000
2       1000      3    5  100000
3       1200      3    7  120000
4       1500      4    4  150000
5       1800      4    3  170000
6       2000      5    2  190000
7       2200      5    1  210000
8       2500      6    1  250000

# 3. Define Features (X) and Target (y)

In [3]:
X = df[["Size_sqft", "Rooms", "Age"]]
y = df["Price"]

# 4. Train/Test Split

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 5. Train Multiple Linear Regression Model

In [5]:
model = LinearRegression()
model.fit(X_train, y_train)

print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Coefficients: [   79.84626471 13245.25582513  2763.63199616]
Intercept: -35202.97862118669

# 6. Make Predictions

In [6]:
y_pred = model.predict(X_test)
print("Predictions:", y_pred)

Predictions: [209448.71486908  77273.60076868]

# 7. Evaluate Model

In [7]:
print("RÂ² Score:", r2_score(y_test, y_pred))

RÂ² Score: 0.9923198514716972

# 8. Try a New Prediction

In [8]:
new_house = [[1600, 3, 5]]
predicted_price = model.predict(new_house)
print("Predicted Price:", predicted_price[0])

Predicted Price: 146104.9723756906

C:\Users\Farhan Diwan\anaconda3\envs\Farhanenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# âœ… Summary (Day 23 â€“ Multiple Linear Regression):

- Extended regression to use multiple features
- Trained a model with size, rooms, age
- Equation learned â†’ Price = m1Ã—Size + m2Ã—Rooms + m3Ã—Age + b
- Model can predict more realistically than single variable regression