# üêº Pandas Basics ‚Äì Day 5
**Goal:** Learn how to use Pandas for data manipulation ‚Äì creating DataFrames, reading CSVs, exploring data, and basic operations.

# 1. Importing Pandas

In [1]:
import pandas as pd
print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

# 2. Creating a DataFrame

In [4]:
data = {
    "Name": ["Zeeshan", "Samiya", "Farhan", "Riyaz"],
    "Age": [23, 25, 22, 24],
    "Marks": [85, 90, 78, 88]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Marks
0  Zeeshan   23     85
1   Samiya   25     90
2   Farhan   22     78
3    Riyaz   24     88

# 3. Reading from CSV

In [6]:
# For demo: using the DataFrame we already created
print("Columns:", df.columns)
print("Shape:", df.shape)
print("Head:\n", df.head())
print("Info:")
print(df.info())

Columns: Index(['Name', 'Age', 'Marks'], dtype='object')
Shape: (4, 3)
Head:
       Name  Age  Marks
0  Zeeshan   23     85
1   Samiya   25     90
2   Farhan   22     78
3    Riyaz   24     88
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Marks   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None

# 4. Selecting Data

In [7]:
# Selecting columns
print("Names:\n", df["Name"])
print("Marks:\n", df[["Name", "Marks"]])

# Selecting rows
print("First two rows:\n", df.head(2))
print("Using iloc (row 0):\n", df.iloc[0])
print("Using loc (Sara):\n", df.loc[1])

Names:
 0    Zeeshan
1     Samiya
2     Farhan
3      Riyaz
Name: Name, dtype: object
Marks:
       Name  Marks
0  Zeeshan     85
1   Samiya     90
2   Farhan     78
3    Riyaz     88
First two rows:
       Name  Age  Marks
0  Zeeshan   23     85
1   Samiya   25     90
Using iloc (row 0):
 Name     Zeeshan
Age           23
Marks         85
Name: 0, dtype: object
Using loc (Sara):
 Name     Samiya
Age          25
Marks        90
Name: 1, dtype: object

# 5. Filtering Data

In [8]:
# Filter by condition
high_scorers = df[df["Marks"] > 80]
print("Students with marks > 80:\n", high_scorers)

# Multiple conditions
young_high = df[(df["Marks"] > 80) & (df["Age"] < 24)]
print("Young students with high marks:\n", young_high)

Students with marks > 80:
       Name  Age  Marks
0  Zeeshan   23     85
1   Samiya   25     90
3    Riyaz   24     88
Young students with high marks:
       Name  Age  Marks
0  Zeeshan   23     85

# ‚úÖ Summary (Day 5):

- Learned to create DataFrames
- Explored data (shape, head, info)
- Selected rows & columns
- Filtered data with conditions