# üêº Pandas Basics ‚Äì Day 6
**Goal:** Practice grouping, aggregation, sorting, merging, and basic descriptive statistics with Pandas.

# 1. Sample Dataset

In [1]:
import pandas as pd

data = {
    "Department": ["IT", "HR", "Finance", "IT", "HR", "Finance"],
    "Employee": ["Zeeshan", "Samiya", "Riyaz", "Farhan", "Khuhsi", "Urvashi"],
    "Salary": [50000, 60000, 55000, 52000, 58000, 61000]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary
0         IT  Zeeshan   50000
1         HR   Samiya   60000
2    Finance    Riyaz   55000
3         IT   Farhan   52000
4         HR   Khuhsi   58000
5    Finance  Urvashi   61000

# 2. Sorting Data

In [2]:
print("Sort by Salary:\n", df.sort_values("Salary", ascending=False))

Sort by Salary:
   Department Employee  Salary
5    Finance  Urvashi   61000
1         HR   Samiya   60000
4         HR   Khuhsi   58000
2    Finance    Riyaz   55000
3         IT   Farhan   52000
0         IT  Zeeshan   50000

# 3. GroupBy & Aggregation

In [3]:
# Average salary by department
avg_salary = df.groupby("Department")["Salary"].mean()
print("Average Salary by Dept:\n", avg_salary)

# Multiple aggregations
agg_salary = df.groupby("Department")["Salary"].agg(["mean", "max", "min"])
print("Aggregated Salary Stats:\n", agg_salary)

Average Salary by Dept:
 Department
Finance    58000.0
HR         59000.0
IT         51000.0
Name: Salary, dtype: float64
Aggregated Salary Stats:
                mean    max    min
Department
Finance     58000.0  61000  55000
HR          59000.0  60000  58000
IT          51000.0  52000  50000

# 4. Adding New Columns

In [4]:
# Add bonus (10% of salary)
df["Bonus"] = df["Salary"] * 0.1
print(df)

  Department Employee  Salary   Bonus
0         IT  Zeeshan   50000  5000.0
1         HR   Samiya   60000  6000.0
2    Finance    Riyaz   55000  5500.0
3         IT   Farhan   52000  5200.0
4         HR   Khuhsi   58000  5800.0
5    Finance  Urvashi   61000  6100.0

# 5. Merging DataFrames

In [5]:
dept_info = pd.DataFrame({
    "Department": ["IT", "HR", "Finance"],
    "Manager": ["Yasin", "Dhruv", "Sparsh"]
})

merged = pd.merge(df, dept_info, on="Department")
print("Merged DataFrame:\n", merged)

Merged DataFrame:
   Department Employee  Salary   Bonus Manager
0         IT  Zeeshan   50000  5000.0   Yasin
1         HR   Samiya   60000  6000.0   Dhruv
2    Finance    Riyaz   55000  5500.0  Sparsh
3         IT   Farhan   52000  5200.0   Yasin
4         HR   Khuhsi   58000  5800.0   Dhruv
5    Finance  Urvashi   61000  6100.0  Sparsh

# 6. Descriptive Statistics

In [6]:
print("Describe:\n", df["Salary"].describe())

Describe:
 count        6.000000
mean     56000.000000
std       4427.188724
min      50000.000000
25%      52750.000000
50%      56500.000000
75%      59500.000000
max      61000.000000
Name: Salary, dtype: float64

# ‚úÖ Summary (Day 6):

- Practiced sorting, grouping, and aggregating data
- Learned to add new columns and merge DataFrames
- Used descriptive statistics for insights